body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.headerClass {
    text-align: center;
    margin-bottom: 50px;
}

.input-group {
    width: 40vw;
}

#button123 {
    border: 1px solid lightgrey;
    width: 50px;
}

.boxs {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cntr h3 {
    margin-bottom: 75px;
}